<header class="header">
  <h1>CowBoy Store</h1>
  <nav class="nav-buttons">
    <button name="products" routerLink="/products" title="Products">
      <img
        src="https://static.thenounproject.com/png/524455-200.png"
        alt="Products"
        class="icon-img"
      />
    </button>
    <button name="cart" routerLink="/cart" title="Cart">
      <img
        src="https://cdn-icons-png.flaticon.com/512/3081/3081986.png"
        alt="Cart"
        class="icon-img"
      />
    </button>
    <button name="logout" (click)="logout()" title="Logout">
      <img
        src="https://cdn-icons-png.flaticon.com/512/126/126467.png"
        alt="Logout"
        class="icon-img"
      />
    </button>
  </nav>
</header>

<div *ngIf="showAd" class="ad-popup">
  <div class="ad-content">
    <img
      src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/modern-fashion-clothing-sale-ad-design-template-f1def7d5f2c1c70005fc6ed3b08f1774_screen.jpg?ts=1609970500"
      alt="Ad Banner"
      class="ad-image"
    />
    <button (click)="closeAd()">Close Ad</button>
  </div>
</div>

<div class="scrolling-ad">
  <div class="scrolling-text">
    🤠 CowBoy Store – when life gets tough, a cowboy gets tougher 🤠
  </div>
</div>

<!-- Main Welcome Section -->
<section class="home-banner">
  <h2>🤠 Welcome to the Wild West of Fashion! 🤠</h2>
  <img
    src="https://media.istockphoto.com/id/1435271127/photo/country-music-festival-live-concert-with-acoustic-guitar-cowboy-hat-and-boots.jpg?s=612x612&w=0&k=20&c=9HIbcttJDYyYYixwY4721y8mATyEsbqKXxAdhgMPGT8="
    alt="Country Festival"
    class="welcome-img"
  />
  <button class="view-products-btn" routerLink="/products">
    Show All Products
  </button>
</section>

<!-- Footer Info -->
<footer class="footer-info">
  <p>CowBoy Store 2025 © All rights reserved.</p>
</footer>
